p {
    font-size: 2rem;
    font-family: Gabarito, sans-serif;

}

.container_plandenegocios {
    display: flex;
    flex-direction: column;
}

.descripción_plan_negocios {
    background-image: url("../../assets/background-plan-de-n.jpg");
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
    padding-top: 140px;
    background-size: cover;

}

.titulo-pn {
    margin: 0;
    padding: 500px 0 0 80px;
    color: white;
    font-size: 5rem;
    font-family: 'Gabarito', sans-serif;
}

.descripcion_texto {
    background-color: rgb(243, 187, 148);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    hyphens: auto;
}

.textopn-1 {
    padding: 60px 60px 60px 90px;
    margin: 0;
    text-align: center;
    width: 80%;
}

.img_personas {
    width: 60%;
    padding-bottom: 20px;
}

.descripcion__tata {
    background-color: rgb(232, 125, 145);
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    padding: 50px 0;
    gap: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.logo-la-tata{
    width: 300px;
    padding-right:170px;
}
.textopn-2 {
    width: 50%;
}
.textopn-3 {
    width: 50%;
}

.textopn-4 {
    width: 50%;
    font-size: 30px;
}

.descripcion_dupla {
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 234, 236);
    padding: 40px 0 40px 0;
    text-align: center;
}

.img_cuerpo {
    border-radius: 40px;
    width: 60%;
}
.img_cuerpo2 {
    border-radius: 40px;
    width: 60%;
}
.cuadros {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.descripcion_final {
    background-color: rgb(181, 218, 237);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 0 60px 90px;
    text-align: justify;
    gap: 60px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .descripción_plan_negocios {
        background-image: none;
        background-color: rgb(232, 148, 164);
        padding: 80px 0px 20px 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .descripcion_texto{
        padding-left: 60px;
    }
    .titulo-pn {
        padding: 0;
        font-size: 3rem;
        text-align: center;
    }
    .textopn-1{
        font-size: 1.3rem;
    }
    .img_personas {
        width: 650px;
    }
    .descripcion__tata{
        padding-left: 60px;
        grid-template-columns: 1fr 0.5fr;
    }
    .descripcion_dupla {
        padding-left: 60px;
    }
    .textopn-2, .textopn-3 {
        font-size: 1.3rem;
        hyphens: auto;
        max-width: 280px;
        width: 100%;
        text-align:justify;
    }
    .img_cuerpo {
        width: 80%;
    }
    .img_cuerpo2{
        display: none;
    }
    .textopn-4{
        width: 90%;
        font-size: 1.3rem;
    }
    .logo-la-tata{
        width: 250px;
        padding-right: 40px;
    }
}
@media screen and (max-width: 667px) {
    .img_personas{
        width: 380px;
    }
    .textopn-1{
        padding: 20px 0;
        font-size: 1.2rem;
    }
    .descripcion__tata{
        grid-template-columns: 1fr;
    }
    .textopn-2,
    .textopn-3{
        padding: 0;
        font-size: 1.2rem;
        width: 100%;
        max-width: 360px;
    }
    .textopn-4{
        padding: 0;
        font-size: 1.2rem;
        width: 100%;
        max-width: 360px;
    }
    .descripcion_dupla{
        flex-direction: column;
    }
    .img_cuerpo {
        width: 60%;
    }
    .logo-tata{
        width: 200px;
        padding: 20px;
    }
}