.container_encabezado {
    background-image: url('../../assets/background_planrrhh.jpg');
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
    padding-top: 140px;
    background-size: cover;
}

.container-intro {
    background-color: #255974;
    padding: 40px 40px 40px 120px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: start;
    gap: 38px;
}
.titulo-intro {
    margin: 0;
    color: white;
    font-size: 5rem;
    font-family: 'Gabarito', sans-serif;
}
.texto_intro {
    width: 100%;
    text-align: justify;
    font-size: 1.7rem;
    hyphens: auto;
    color: white;
}
.vision_RRHH {
    background-color: #2b6584;
    padding: 40px 40px 40px 120px;
    display: flex;
    flex-direction: column;
}
.mision_RRHH{
    background-color: #357ca2;
    padding: 40px 40px 40px 120px;
    display: flex;
    flex-direction: column;
}
.container-objetivos {
    background-color: #4299c7;
    padding: 40px 40px 40px 120px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: start;
    gap: 38px;
}

.organigrama {
    background-color: #3595c8;
    padding: 40px 40px 40px 120px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: start;
}

.img-organigrama {
    width: 60%;
    align-self: center;
}

.container-cde {
    background-color: #E87e92;
    padding: 40px 40px 40px 120px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: start;
}
.cde-trab{
    display: flex;
    flex-direction: row;
}
.img-cde{
    width: 50%;
}
.img-cde2{
    width: 50%;
}
.container-puestos{
        background-color: #eb899b;
        padding: 40px 0;
        margin: 0;
        padding: 40px 60px 40px 120px;
        display: flex;
        flex-direction: column;
}
.puestos-descrip{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-incentivos{
    background-color: #e593a2;
        padding: 40px 0;
        margin: 0;
        padding: 40px 60px 40px 120px;
        display: flex;
        flex-direction: column;
}
.div_incentivos{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.img-incentivos{
    width: 60%;
}
.container-hys{
    background-color:#efa3b1;
        padding: 40px 0;
        margin: 0;
        padding: 40px 60px 40px 120px;
        display: flex;
        flex-direction: column;
}
.hys-tipos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.img-hyso{
    width: 70%;
    align-self: center;
}
.img-hysb{
    width: 600px;
    height: auto;
}
.img-hysb2{
    width: 600px;
    height: auto;
}
.container-capacitaciones{
    background-color: #eeb7c1;
    padding: 40px 0;
    margin: 0;
    padding: 40px 60px 40px 120px;
    display: flex;
    flex-direction: column;
}
.capacitacion-bby{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-cap-bby{
    width: 70%;
}
.subtitulo-cap{
    font-family: 'Gabarito',sans-serif;
    font-size: 3rem;
}
.capacitacion-cm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.img-cap-cm{
    width: 100%;
}
.img-cap-cm2{
    width:90%;
}
.container-conclusiones{
    background-color: #f3ccd3;
    padding: 40px 0;
    margin: 0;
    padding: 40px 60px 40px 120px;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .container_encabezado{
        background-image: none;
        background-color:#1c445a;
        padding: 80px 0px 20px 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .titulo-intro{
        font-size: 3rem;
        padding-bottom: 10px;
    }
    .texto_intro{
        font-size: 1.7rem;
        padding: 0;
        margin: 0;
    }
    .img-organigrama{
        width: 100%;
    }
    .cde-trab{
        flex-direction: column;
    }
    .img-cde, .img-cde2{
        width: 100%;
    }
    .img-puestos, 
    .img-hyso,
    .img-cap-bby{
        width: 100%;
    }
    .img-incentivos{
        width: 110%;
    }
    .img-hysb, .img-hysb2{
        width: 70%;
    }
    .capacitacion-cm{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 667px) {
    .titulo-intro{
        font-size: 2rem;
        padding-bottom: 10px;
    }
    .texto_intro{
        font-size: 1.5rem;
        padding: 0;
        margin: 0;
    }
}