.container_encabezado{
    background-image: url('../../assets/background_planrrhh.jpg');
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
    padding-top: 140px;
    background-size: cover;
}