.MuiButtonBase-root {
    font-family: 'Gabarito', sans-serif;
}

.MuiTextField-root,
.MuiFormControl {
    border: none;
    border-radius: 15px;
    font-family: 'Gabarito' sans-serif;
}

.container_footer {
    background-color: #E87D91;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px 80px 20px 100px;
}


.titulo {
    font-family: 'Gabarito', sans-serif;
    font-size: 3rem;
}

.titulo-2 {
    font-family: 'Gabarito', sans-serif;
    font-size: 2rem;
    margin: 0;
    align-self: center;
}

.subtitulo-footer {
    font-family: 'Gabarito', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.img-footer {
    width: 300px;
    align-self: center;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}


.descarga {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.diseñado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.firma {
    width: 80px;
}

.formulario_texto {
    width: 350px;
    background-color: #ffffff94;
    border-radius: 5px;
    border-color: transparent;
}

@media screen and (max-width: 768px) {
    .container_footer {
        display: grid;
        grid-template-columns: 250px 346px;
        grid-template-rows: 130px 280px;
        text-align: start;
        justify-items: center;
        justify-content: space-around;
        align-items: start;
        padding: 20px 20px 20px 90px;

    }

    .redes {
        grid-row: 2;
        grid-column: 1;
        margin: 20px 0;

    }

    .contenedor_imagen {
        grid-row: 1;
        grid-column: 1;
    }

    .img-footer {
        width: 150px;
        margin: 20px 0;
    }
    .titulo {
        padding: 0;
        margin: 10px;
        font-size: 1.3rem;
    }

    .subtitulo-footer {
        font-size: 1.3rem;
        padding: 5px 0;
        text-align: center;
    }

    .diseñado {
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .firma {
        width: 40px;
    }

    .titulo-2 {
        padding-bottom: 10px;
    }

    .container-form {
        grid-row: 0;
        grid-column: 2;

    }

    .descarga {
        display: flex;
        flex-direction: row;
        padding: 10px;
        gap: 5px;
    }
}

@media screen and (max-width: 667px) {
    .container_footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 150px 250px;
        text-align: start;
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0 20px 55px;
    }

    .container-form {
        grid-column: 1;
        grid-row: 1;
        padding: 0%;
    }

    .contenedor_imagen {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }

    .redes {
        grid-column: 1;
        padding: 0;
        margin: 0;
        grid-row: 3;
    }
}