.PlanEstrategico {
    width: 100%;
}

.descripcion__plan__estrategico {
    background-image: url('../../assets/background-plan-e.jpg');
    background-repeat: no-repeat;
    margin: 0;
    height: auto;
    padding-top: 140px;
    background-size: cover;
}

.titulo-pe {
    margin: 0;
    padding: 500px 0 0 120px;
    color: white;
    font-size: 5rem;
    font-family: 'Gabarito', sans-serif;
}

.titulo-target {
    margin: 0;
    color: black;
    font-size: 5rem;
    font-family: 'Gabarito', sans-serif;
}

.p-texto-pe {
    width: 100%;
}

.descripcion__texto {
    background-color: rgba(232, 125, 145, 0.411);
    display: flex;
    flex-direction: column;
    padding: 40px 60px 40px 120px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    hyphens: auto;
}

.container__foda {

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(205, 226, 236);
}

.FODA {

    max-width: 500px;
}

.container__vision {
    background-color: rgb(181, 218, 237);
    padding: 40px 60px 40px 120px;
    display: flex;
    flex-direction: column;
}

.vision {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
    width: 100%;
    align-items: center;
}

.vision__texto {
    width: 100%;

}

.vision__icono {
    width: 20%;
}

.container__mision {
    background-color: rgba(232, 125, 145, 0.411);
    padding: 40px 0;
    margin: 0;
    padding: 40px 60px 40px 120px;
    display: flex;
    flex-direction: column;

}

.img_mision {
    width: 280px;
    border-radius: 40px;
}

.mision {
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: start;
    align-items: center;
}

.texto_mision {
    width: 100%;
    text-align: justify;
    font-size: 1.7rem;
    hyphens: auto;
}

.titulo-mision {
    margin: 0;
    color: black;
    font-size: 5rem;
    font-family: 'Gabarito', sans-serif;
}

.container-objetivose {
    background-color: rgb(205, 226, 236);
    padding: 40px 60px 40px 120px;
}

.container__objE {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    padding: 0 0 40px;
    gap: 40px;

}

.cajas_obj {
    border-radius: 10px;
    background: #F3BCC6;
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.container-obj-med {
    background-color: rgb(215, 234, 243);
    padding: 40px 60px 40px 120px;
}

.cajas_obj2 {
    border-radius: 10px;
    background: rgb(140, 182, 203);
    width: 300px;
    height: 300px;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;

}

.cajas__numeros {
    font-size: 90px;
    padding: 0;
    margin: 0;
    font-family: 'Rozha One';
    color: rgb(4, 92, 122);
}

.cajas__texto {
    padding: 0;
    margin: 0;
    font-size: 20px;

}

.container_valores {
    background-color: #f68196;
    padding: 40px 60px 40px 120px;
}

.valores_empresariales {
    background-color: #f68196;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    margin: 0;

}

.img_valores {
    width: 25%;
}

.container_target {
    background-color: rgb(181, 218, 237);
    padding: 40px 60px 40px 120px;

}

.box_target {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 0;
}

.texto_target {
    width: 100%;
    text-align: justify;
    font-size: 1.7rem;
    hyphens: auto;
}

.img_target {
    width: 450px;
    height: 600px;
    border-radius: 40px;
}

.container_factorestarget {
    background-color: rgb(205, 226, 236);
    padding: 40px 120px;
}

.container_motivacion {
    background-color: rgba(232, 125, 145, 0.247);
}

.container__motivar {
    display: grid;
    grid-template-columns: repeat(5, 250px);
    padding: 40px 120px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.cajas_motiv {
    border-radius: 30px;
    background: #F3BCC6;
    width: 220px;
    height: 220px;
    flex-shrink: 0;
    text-align: center;
    padding: 10px;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.cajas__numeros2 {
    font-size: 90px;
    padding: 0;
    margin: 0;
    font-family: 'Rozha One';
    color: rgb(194, 103, 120);
}

.cajas_texto2 {
    padding: 0;
    margin: 0;
    font-size: 25px;

}

.container_estrategia {
    background-color: rgb(243, 187, 148);
    padding: 100px 20px 100px 120px;
    text-align: justify;
}

.estrategia_dif,
.estrategiaFO {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    hyphens: auto;
}

.subtitulo-fo {
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 2.5rem;
    font-family: 'gabarito', sans-serif;

}

.estrategia_img {
    width: 27%;
    border-radius: 40px;
}

.container_estrategiaFO {
    background-color: rgb(246, 218, 198);
    padding: 100px 20px 100px 120px;
    text-align: center;
    hyphens: auto;
}
.img_factarget{
    width: 100%;
}
.container_conclusion {
    background-color: rgb(244, 233, 225);
    padding: 100px 0 100px 120px;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .descripcion__plan__estrategico {
        background-image: none;
        background-color: #255974;
        padding: 80px 0px 20px 80px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .titulo-pe {
        padding: 0;
        font-size: 3rem;
    }

    .p-texto-pe {
        font-size: 1.3rem;
    }

    p {
        font-size: 1.3rem;
        text-align: justify;
        hyphens: auto;
    }

    .container__mision,
    .container__vision {
        padding-left: 120px;
    }

    .titulo-mision {
        padding: 0;
        font-size: 2rem;
    }

    .mision {
        padding: 0;
    }

    .texto_mision {
        width: 100%;
        font-size: 1.3rem;
    }

    .img_mision {
        width: 200px;
    }

    .container-objetivose,
    .container-obj-med {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 40px 0 40px 70px;
        gap: 20px
    }

    .container__objE {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 0;
    }

    .cajas_obj,
    .cajas_motiv {
        width: 150px;
        height: 150px;
    }

    .cajas_obj2 {
        width: 150px;
        height: 200px;
    }

    .cajas__numeros,
    .cajas__numeros2 {
        font-size: 40px;
    }

    .cajas__texto {
        font-size: 0.8rem;
        hyphens: auto;
    }

    .valores_empresariales {
        flex-direction: column;
        align-items: center;
    }

    .img_valores {
        width: 70%;
        padding: 10px;
    }

    .container_target {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 40px 0 40px 70px;
        gap: 20px;
        hyphens: auto;
    }

    .container_factorestarget {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 40px 0 40px 70px;
    }

    .box_target {
        gap: 10px;
    }

    .img_target {
        width: 200px;
        height: auto;
    }

    .texto_target {
        font-size: 1rem;
        max-width: 400px;

    }

    .titulo-target {
        font-size: 2rem;
    }

    .container_motivacion {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 40px 0 40px 70px;
    }

    .cajas_texto2 {
        font-size: 1.2rem;
        text-align: center;
    }

    .container__motivar {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
        padding: 0;
        text-align: center;
        margin-top: 30px;
    }

    .container_estrategia,
    .container_estrategiaFO,
    .container_conclusion {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 40px 20px 40px 80px;
        gap: 10px;
        text-align: center;
    }

    .estrategia_img {
        width: 300px;
    }

    .subtitulo-fo {
        font-size: 2rem;
        hyphens: none;
    }
}

@media screen and (max-width: 667px) {
    .container__objE, 
    .container__motivar{
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
        align-items: center;
        gap:5px;
        display: grid;
        justify-items: center;
        padding-left: 50px;
    }
    .vision,
    .mision, 
    .box_target{
        display: flex;
        flex-direction: column;
    }
    .texto_target{
        width: 100%;
        max-width: 350px;
    }
    .img_factarget{
        width: 90%;
    }
    .FODA{
        width: 60%;
    }
    .estrategia_dif,
    .estrategiaFO{
        flex-direction: column;
    }
    .container_motivacion{
        padding-left: 50px;
    }
}